.overlay {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  bottom: 0;

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.7);
}

.modal {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 90%;
  height: 100%;
  max-width: 60%;
  width: 80vw;

  background-color: white;
  color: var(--text-color);

  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
