.overlay {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  left: 0;
  top: 0;
  bottom: 0;

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.7);
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px;
  min-width: 40%;
  max-height: 80%;


  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
